body{
    margin-left: 30%;
    margin-right: 30%;
    background-color: A9907E;
    display:flex;
    align-items: center;
}

.whole-area{
    background-color: F3DEBA;
    display:flex; 
    flex-direction:column;
    margin-bottom: 15%;
    border-radius: 30px;
}

.header{
    /* border: 1px solid black; */
    margin: 1%;
    padding: 1%;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    min-height:50px;
}

.area{
    padding: 1%;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
    flex:1;
    min-height: 50vh;
}

.area-input{
    padding: 1%;
    margin-bottom: 5%;

}

.input-section {
    display: flex;
    align-items: center;
}

.input-section > *{
    margin-left: 3px;
    margin-right: 3px;
}

.input-error{
    visibility: hidden;
}

#input-error-text{
    color: ff0100;
}

.area-output{
    padding: 1%;
    display: flex;
    visibility: hidden;
}

.area-output > *{
    margin-left: 5px;
    margin-right: 5px;
}

.output-binary{
    margin-right: 5%;
}

.footer{
    /*border: 1px solid black; */
    margin: 1%;
    padding: 1%;
    font-size: 8px;
    font-family: 'Fjalla One', sans-serif;
}

